   

<div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo text-center">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/yamy.png" alt="Logo">
                            </a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block">
                                <i class="bi bi-x bi-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- ✅ Sidebar Menu -->
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-item active">
                            <a asp-controller="Home" asp-action="Index" class="sidebar-link">
                                <i class="bi bi-grid-fill"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-calculator"></i><span>Accountant</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-house"></i><span>Home</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-building"></i><span>My Company</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-people"></i><span>Customers</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-lines-fill"></i><span>Vendors</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-badge"></i><span>HR</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-box-seam"></i><span>Inventory</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-graph-up"></i><span>CRM</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-egg-fried"></i><span>Restaurant System</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Manufacture System</span></a></li>
                    </ul>
                </div>

                <!-- ✅ Sidebar Footer -->
                <div class="sidebar-footer">
                    <ul class="menu">
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Settings</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-globe"></i><span>Yamy Technology</span></a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-translate"></i><span>Language: EN</span></a></li>
                    </ul>
                </div>

                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>


        @section Scripts {


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/assets/vendors/fontawesome/all.min.css" rel="stylesheet" />
    <script src="~/assets/vendors/fontawesome/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        }







@*         <!-- ✅ Sidebar -->
 <div id="sidenav-collapse-main" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header sidebar-logo">
            <div class="d-flex justify-content-between">
                <div class="logo text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo/yamy.png" height="20" alt="Logo">
                        <span class="ms-1 font-weight">Creative Tim</span>
                    </a>
                </div>                
            </div>
           @*  <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button> 

        </div>
        <hr class="horizontal dark mt-0">
        <!-- ✅ Sidebar Menu -->
            <div class="collapse navbar-collapse w-auto h-auto ps" id="sidenav-collapse-main">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#dashboards" class="nav-link active" aria-controls="dashboards" role="button" aria-expanded="false" asp-controller="Home" asp-action="Index"> 
                       <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center" >
                            <i class="ni ni-shop text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Home</span>
                    </a>
                    <div class="collapse  show " id="dashboards">
                        <ul class="nav ms-4">
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> L </span>
                                    <span class="sidenav-normal"> Landing </span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link active" href="#">
                                    <span class="sidenav-mini-icon"> D </span>
                                    <span class="sidenav-normal"> Default </span>
                                </a>
                            </li>

                       
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#pages" class="nav-link " aria-controls="pages" role="button" aria-expanded="false">
                        <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                            <i class="ni ni-ungroup text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Pages</span>
                    </a>
                    <div class="collapse " id="pages">
                        <ul class="nav ms-4">
                            <li class="nav-item ">
                                <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#">
                                    <span class="sidenav-mini-icon"> V </span>
                                    <span class="sidenav-normal"> Virtual Reality <b class="caret"></b></span>
                                </a>
                                <div class="collapse " id="vrExamples">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                <span class="sidenav-mini-icon text-xs"> V </span>
                                                <span class="sidenav-normal"> VR Default </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                <span class="sidenav-mini-icon text-xs"> V </span>
                                                <span class="sidenav-normal"> VR Info </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> P </span>
                                    <span class="sidenav-normal"> Pricing Page </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> R </span>
                                    <span class="sidenav-normal"> RTL </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> W </span>
                                    <span class="sidenav-normal"> Widgets </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> C </span>
                                    <span class="sidenav-normal"> Charts </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> S </span>
                                    <span class="sidenav-normal"> Sweet Alerts </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> N </span>
                                    <span class="sidenav-normal"> Notifications </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                    </div>
                </div>
               <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>








                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-calculator"></i><span>Accountant</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-house"></i><span>Home</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-building"></i><span>My Company</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-people"></i><span>Customers</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-lines-fill"></i><span>Vendors</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-badge"></i><span>HR</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-box-seam"></i><span>Inventory</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-graph-up"></i><span>CRM</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Manufacture System</span></a></li>
            </ul>
        </div>

        <!-- ✅ Sidebar Footer -->
        <div class="sidebar-footer">
            <ul class="menu">
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Settings</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-globe"></i><span>Yamy Technology</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-translate"></i><span>Language: EN</span></a></li>
            </ul>
        </div>

    
    </div>
</div>




@* //////////// *@
<!-- CSS Files -->
@* <link rel="stylesheet" href="~/assets/Asid/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/Asid/plugins.min.css" />
<link rel="stylesheet" href="~/assets/Asid/kaiadmin.min.css" />

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
 *@                @* <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20"> *@
@*             </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;">
        <div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 464px;">
            <div class="sidebar-content">
                <ul class="nav nav-secondary">
                    <li class="nav-item active">
                        <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="dashboard">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="../demo1/index.html">
                                        <span class="sub-item">Dashboard 1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Components</h4>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#base">
                            <i class="fas fa-layer-group"></i>
                            <p>Base</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="components/avatars.html">
                                        <span class="sub-item">Avatars</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/buttons.html">
                                        <span class="sub-item">Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/gridsystem.html">
                                        <span class="sub-item">Grid System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/panels.html">
                                        <span class="sub-item">Panels</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/notifications.html">
                                        <span class="sub-item">Notifications</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/sweetalert.html">
                                        <span class="sub-item">Sweet Alert</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/font-awesome-icons.html">
                                        <span class="sub-item">Font Awesome Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/simple-line-icons.html">
                                        <span class="sub-item">Simple Line Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="components/typography.html">
                                        <span class="sub-item">Typography</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarLayouts">
                            <i class="fas fa-th-list"></i>
                            <p>Sidebar Layouts</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayouts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="sidebar-style-2.html">
                                        <span class="sub-item">Sidebar Style 2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="icon-menu.html">
                                        <span class="sub-item">Icon Menu</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#forms">
                            <i class="fas fa-pen-square"></i>
                            <p>Forms</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="forms">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="forms/forms.html">
                                        <span class="sub-item">Basic Form</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#tables">
                            <i class="fas fa-table"></i>
                            <p>Tables</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="tables/tables.html">
                                        <span class="sub-item">Basic Table</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tables/datatables.html">
                                        <span class="sub-item">Datatables</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#maps">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Maps</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="maps">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="maps/googlemaps.html">
                                        <span class="sub-item">Google Maps</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="maps/jsvectormap.html">
                                        <span class="sub-item">Jsvectormap</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#charts">
                            <i class="far fa-chart-bar"></i>
                            <p>Charts</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="charts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="charts/charts.html">
                                        <span class="sub-item">Chart Js</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="charts/sparkline.html">
                                        <span class="sub-item">Sparkline</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="widgets.html">
                            <i class="fas fa-desktop"></i>
                            <p>Widgets</p>
                            <span class="badge badge-success">4</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../documentation/index.html">
                            <i class="fas fa-file"></i>
                            <p>Documentation</p>
                            <span class="badge badge-secondary">1</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#submenu">
                            <i class="fas fa-bars"></i>
                            <p>Menu Levels</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="submenu">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a data-bs-toggle="collapse" href="#subnav1">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav1">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" href="#subnav2">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav2">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-item">Level 1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 346px; top: 0px;"></div></div></div>
    </div>
</div



~/assets/Asid

    <script src="~/assets/Asid/jquery-3.7.1.min.js"></script>
    <script src="~/assets/Asid/popper.min.js"></script>
    <script src="~/assets/Asid/bootstrap.min.js"></script>
    <!-- Chart JS -->
    <script src="~/assets/Asid/chart.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/assets/Asid/circles.min.js"></script>
<!-- jQuery Vector Maps -->
    <script src="~/assets/Asid/jsvectormap.min.js"></script>
    <script src="~/assets/Asid/world.js"></script>
    <!-- Sweet Alert -->
    <script src="~/assets/Asid/sweetalert.min.js"></script> *@ 