        <!-- ✅ Sidebar -->
<div id="sidenav-collapse-main"">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo/yamy.png" alt="Logo">
                        <span class="ms-1 font-weight">Creative Tim</span>
                    </a>
                </div>                
            </div>
        </div>
        <hr class="horizontal dark mt-0">
        <!-- ✅ Sidebar Menu -->
            <div class="collapse navbar-collapse w-auto h-auto ps" id="sidenav-collapse-main">

            <ul class="navbar-nav">
                <li class="nav-item">
                    @* <a data-bs-toggle="collapse" href="#dashboards" class="nav-link active" aria-controls="dashboards" role="button" aria-expanded="false" asp-controller="Home" asp-action="Index"> *@
                        <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center" >
                            <i class="ni ni-shop text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Home</span>
                    </a>
                    <div class="collapse  show " id="dashboards">
                        <ul class="nav ms-4">
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> L </span>
                                    <span class="sidenav-normal"> Landing </span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link active" href="#">
                                    <span class="sidenav-mini-icon"> D </span>
                                    <span class="sidenav-normal"> Default </span>
                                </a>
                            </li>

                       
                </li>
                <li class="nav-item mt-3">
                    <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#pages" class="nav-link " aria-controls="pages" role="button" aria-expanded="false">
                        <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
                            <i class="ni ni-ungroup text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Pages</span>
                    </a>
                    <div class="collapse " id="pages">
                        <ul class="nav ms-4">
                            <li class="nav-item ">
                                <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#">
                                    <span class="sidenav-mini-icon"> V </span>
                                    <span class="sidenav-normal"> Virtual Reality <b class="caret"></b></span>
                                </a>
                                <div class="collapse " id="vrExamples">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                <span class="sidenav-mini-icon text-xs"> V </span>
                                                <span class="sidenav-normal"> VR Default </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">
                                                <span class="sidenav-mini-icon text-xs"> V </span>
                                                <span class="sidenav-normal"> VR Info </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> P </span>
                                    <span class="sidenav-normal"> Pricing Page </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> R </span>
                                    <span class="sidenav-normal"> RTL </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> W </span>
                                    <span class="sidenav-normal"> Widgets </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> C </span>
                                    <span class="sidenav-normal"> Charts </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> S </span>
                                    <span class="sidenav-normal"> Sweet Alerts </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="#">
                                    <span class="sidenav-mini-icon"> N </span>
                                    <span class="sidenav-normal"> Notifications </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                    </div>
                </div>
               <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>








                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-calculator"></i><span>Accountant</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-house"></i><span>Home</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-building"></i><span>My Company</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-people"></i><span>Customers</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-lines-fill"></i><span>Vendors</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-person-badge"></i><span>HR</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-box-seam"></i><span>Inventory</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-graph-up"></i><span>CRM</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Manufacture System</span></a></li>
            </ul>
        </div>

        <!-- ✅ Sidebar Footer -->
        <div class="sidebar-footer">
            <ul class="menu">
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-gear"></i><span>Settings</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-globe"></i><span>Yamy Technology</span></a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link"><i class="bi bi-translate"></i><span>Language: EN</span></a></li>
            </ul>
        </div>

    
    </div>
</div>