

<div class="top-navbar">
    <div class="d-flex align-items-center  w-100">

        <!-- Left: Navigation Menu -->
        <ul class="navbar-links">
            <li class="dropdown">
                File
                <ul class="submenu">
                    <li><a href="/Account/CompanyList">Company List</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Company Profile</a>
                        <ul class="submenu">
                            <li><a asp-controller="CompanyCenter" asp-action="Index">Company Center</a></li>
                            @* <li><a asp-controller="Reminders" asp-action="Index">Reminders</a></li> *@
                            <li>Reminders</li>
                        </ul>
                    </li>
                   @*  <li><a href="">Restore Company</a></li>
                    <li><a href="">Backup Company</a></li> *@
                    <li><a href="#" onclick="window.close(); return false;">Exit</a></li>

                </ul>
            </li>
            <li class="dropdown">
                Lists
                <ul class="submenu">
                    <li><a href="/Lists/ChartOfAccount">Chart of Account</a></li>
                    <li><a href="/Lists/ItemList">Item List</a></li>
                    <li><a href="/Lists/ItemCategory">Item Category List</a></li>
                    <li><a href="/Lists/Tax">Item Tax Code List</a></li>
                    <li><a href="/Lists/Unit">Item Unit List</a></li>
                    <li><a href="/Lists/FixedAssetItem">Fixed Asset Item List</a></li>
                </ul>
            </li>

            <li class="dropdown">
                Accountant
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Account Center</a>
                        <ul class="submenu">
                            <li><a href="/Lists/ChartOfAccount">Chart Of Account</a></li>
                            <li><a href="/Lists/CostCenter">Cost Center</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Fixed Assets List</a>
                        <ul class="submenu">
                            <li><a href="/Lists/FixedAssets">Fixed Assets Center</a></li>
                            <li><a href="/Lists/FixedAssetsCategory">Fixed Assets Category</a></li>
                        </ul>
                    </li>
                    <li><a href="">Voucher</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Prepaid Expense List</a>
                        <ul class="submenu">
                            <li><a href="/Lists/PrepaidExpense">Prepaid Expense Center</a></li>
                            <li><a href="/Lists/PrepaidExpenseCategory">Prepaid Expense Category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Petty Cash List</a>
                        <ul class="submenu">
                            <li><a href="/Lists/PettyCash">Petty Cash Center</a></li>
                            <li><a href="">Add Account</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Banking</a>
                        <ul class="submenu">
                            <li><a href="/Account/BankCenter">Bank Center</a></li>
                            <li><a href="/Account/BankCardCenter">Open Bank Card</a></li>
                            <li><a href="/Account/BankCheque">Cheques</a></li>
                            <li><a href="/Account/PDC">PDC</a></li>
                           @*  <li><a href="">Reconciliation</a></li> *@
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                Inventory Doc
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Inventory Items</a>
                        <ul class="submenu">
                            <li><a href="/Lists/Unit">Add Unit</a></li>
                            <li><a href="/Lists/ItemCategory">Add Category</a></li>
                            <li><a href="/Lists/Tax">Add Item Tax Code</a></li>
                        </ul>
                    </li>
                    <li><a href="/Lists/ItemList">Add New Item</a></li>
                    <li><a href="">Stock Management</a></li>
                    <li><a href="/Lists/ItemList">Inventory Center</a></li>
                    <li><a href="/Inventory/WareHouse">Warehouse Center</a></li>
                    <li><a href="/Inventory/WarehouseTransfer">Item Warehouse Transfter</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Customers
                <ul class="submenu">
                    <li><a asp-controller="CustomerCenter" asp-action="Index">Customer Center</a></li>
                    <li><a href="">Sales Center</a></li>
                    <li><a href="">Sales Quotation</a></li>
                    <li><a href="">Sales Order</a></li>
                    <li><a href="">Sales Proforma</a></li>
                    <li><a href="">Sales Return</a></li>
                    <li><a href="">Create Invoice</a></li>
                    <li><a href="">Receive Voucher</a></li>
                    <li><a href="">Credit Note</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Vendors
                <ul class="submenu">
                    <li><a href="">Vendor Center</a></li>
                    <li><a href="">Purchases Center</a></li>
                    <li><a href="">Purchase Order</a></li>
                    <li><a href="">Purchase Return</a></li>
                    <li><a href="">Create Purchase</a></li>
                    <li><a href="">Payment Voucher</a></li>
                    <li><a href="">Debit Note</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Subcontractor
                <ul class="submenu">
                    <li><a href="">Subcontractor Center</a></li>
                    <li><a href="">Purchases Center</a></li>
                    <li><a href="">Create Purchase</a></li>
                    <li><a href="">Payment Voucher</a></li>
                </ul>
            </li>
           @*  <li class="dropdown">
                HR
                <ul class="submenu">
                    <li><a href="/HR/Employee">Human Resource Center</a></li>
                    <li><a href="">Attendance Sheet</a></li>
                    <li><a href="">Salary Sheet</a></li>
                    <li><a href="">Leave Salary</a></li>
                    <li><a href="">End Of Services</a></li>
                    <li><a href="">Loans</a></li>
                    <li><a href="">Final Settlement</a></li>
                    <li><a href="">Payment Voucher</a></li>
                </ul>
            </li> *@

             <li class="dropdown">
                HR
                <ul class="submenu">
                    <li><a href="/HR/Index">Human Resource</a></li>
                </ul>
            </li>

            <li class="dropdown">
                Construction
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Project SetUp</a>
                        <ul class="submenu">
                            <li><a href="/Construction/ProjectCenter">Project Center</a></li>
                            <li><a href="/Construction/TenderCenter">Tender Center</a></li>
                            <li><a href="/Construction/SiteCenter">Site Center</a></li>
                        </ul>
                      </li>
                    <li><a href="/Construction/ProjectTender">Project Tender</a></li>
                    <li><a href="/Construction/ProjectEstimation">Project Estimate</a></li>
                    <li><a href="/Construction/ProjectPlanning">Project planning</a></li>
                    <li><a href="/Construction/ProjectWorkDone">Project Work Done</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Project Management</a>
                        <ul class="submenu">
                            <li><a href="/Construction/ProjectSummary">Project Summary</a></li>
                            <li><a href="/Construction/ActivitySummary">Project Active Summary</a></li>
                            <li><a href="/Construction/ProjectAssignReport">Project Assign Summary</a></li>
                            <li><a href="/Construction/ProjectResourceReport">Project Resource Summary</a></li>
                            <li><a href="/Construction/ProjectProgressSummary">Project Progress Summary</a></li>
                            <li><a href="/Construction/ProjectWorkProgressSummary">Project Work Progress Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Project Dashboard & Reports</a>
                        <ul class="submenu">
                            <li><a href="/Construction/ProjectDashboard">Project Dashboard</a></li>
                            <li><a href="/Construction/ProjectTimeLine">Timeline</a></li>
                        </ul>
                    </li>
                    <li><a href="">Project Time Line</a></li>
                    <li><a href="">GanttChart Sample</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Reports
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Company</a>
                        <ul class="submenu">
                            <li><a href="/Reports/AccountBalanceReport">Balance Sheet Standard</a></li>
                            <li><a href="">Income By Customer Summary</a></li>
                            <li><a href="">Expense From Vendor Summary</a></li>
                            <li><a href="">Profit & Loss</a></li>
                            <li><a href="">Statement of Cash Flow</a></li>
                            <li><a href="">Income Expense Statement</a></li>
                            <li><a href="">User Activity Report</a></li>
                        </ul>
                        </li>
                    <li><a href="">Customer & Receivable</a></li>
                    <li><a href="">Sales</a></li>
                    <li><a href="">Vendor & Payable</a></li>
                    <li><a href="">Purchases</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Employees</a>
                        <ul class="submenu">
                            <li><a href="/Reports/EmployeeBalanceSummary">Employee Balance Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Account</a>
                        <ul class="submenu">
                            <li><a href="/Reports/TrialBalance">Trial Balance</a></li>
                           @*  <li class="submenu-item has-sub">
                                <a href="#" class="submenu-link">Petty Cash</a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashSummary">Summary</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashDetails">Details</a>
                                    </li>
                                </ul>
                            </li> *@
                            <li><a href="/Reports/PettyCashSummary">Petty Cash Summary</a></li>
                            <li><a href="/Reports/PettyCashDetails">Petty Cash Details</a></li>
                            <li><a href="/Lists/TransacationJournal">Transactions Journal</a></li>
                            <li><a href="/Reports/GeneralLedger">General Ledger</a></li>
                            <li><a href="/Reports/CostCenterSummary">Cost Center</a></li>
                            <li><a href="/Reports/VATReport">VAT Report</a></li>
                            <li><a href="/Reports/FixedAssetSummary">Fixed Asset</a></li>
                            <li><a href="/Reports/PrepaidExpenseSummary">Prepaid Expense</a></li>
                            <li><a href="/Reports/MasterVAT">VAT Category Report</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Inventory</a>
                        <ul class="submenu">
                            <li><a href="/Reports/ItemMovingReport">Item Moving Report</a></li>
                            <li><a href="/Reports/ItemWiseProfitStatement">Item Profit</a></li>
                            <li><a href="/Reports/InventoryTransaction">Item Transaction</a></li>
                            <li><a href="/Reports/WareHouseSummary">Warehouse Summary</a></li>
                        </ul>
                    </li>
                    <li><a href="">Corporate Tax</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Bank</a>
                        <ul class="submenu">
                            <li><a href="/Reports/ChequeReport">Cheque Inquiry</a></li>
                            <li><a href="/Reports/BankBalanceSummary">Bank Balance Summary</a></li>
                            <li><a href="/Reports/PDCOutstandingSummary">PDC Outstanding</a></li>
                            <li><a href="/Reports/PDCClearedHistory">PDC Cleared History</a></li>
                            <li><a href="/Reports/ReturnedChequeReport">Returned Cheques Report</a></li>
                            <li><a href="/Reports/ChequeLinked">Cheques Linked to Payment/Receipt</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">List</a>
                        <ul class="submenu">
                            <li><a href="/Lists/ChartOfAccount">Account List</a></li>
                            <li><a href="/Account/BankCenter">Bank List</a></li>
                            <li><a href="/Account/BankCardCenter">Bank Card List</a></li>
                            <li><a href="/Lists/ChartOfAccountL1">Chart of Account(L1)</a></li>
                            <li><a href="/Lists/ChartOfAccountL2">Chart of Account(L2)</a></li>
                            <li><a href="/Lists/ChartOfAccountL3">Chart of Account(L3)</a></li>
                            <li><a href="/Account/BankCheque">Cheque List</a></li>
                            <li><a href="/Reports/CityList">City List</a></li>
                            <li><a href="/Reports/CountryList">Country List</a></li>
                            <li><a href="/Lists/CostCenter">Cost Center List</a></li>
                            <li><a href="">Customer List</a></li>
                            <li><a href="">Customer Category List</a></li>
                            <li><a href="/Lists/Department">Department List</a></li>
                            <li><a href="/Reports/EmployeeList">Employee List</a></li>
                            <li><a href="/Reports/FixedAssetList">Fixed Asset List</a></li>
                            <li><a href="/Lists/FixedAssetsCategory">Fixed Asset Category List</a></li>
                            <li><a href="/Lists/FixedAssetItem">Fixed Asset Item List</a></li>
                            <li><a href="/Reports/ItemList">Item List</a></li>
                            <li><a href="/Lists/ItemCategory">Item Category List</a></li>
                            <li><a href="/Lists/Tax">Item Tax Code List</a></li>
                            <li><a href="/Lists/Unit">Item Unit List</a></li>
                            <li><a href="/Reports/ItemWarehouseList">Item Warehouse List</a></li>
                            <li><a href="/Lists/PettyCashCategory">Petty Cash Category List</a></li>
                            <li><a href="/Lists/Position">Position List</a></li>
                            <li><a href="/Lists/PrepaidExpense">Prepaid Expense List</a></li>
                            <li><a href="/Lists/PrepaidExpenseCategory">Prepaid Expense Category List</a></li>
                            <li><a href="">Vendor List</a></li>
                            <li><a href="">Vendor Category List</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="dropdown">
                Settings
                <ul class="submenu">
                    <li><a href="">Settings</a></li>
                    <li><a href="/Settings/ChangePassword">Change Current Password</a></li>
                    <li><a href="">Clear Data</a></li>
                    <li><a href="">Users</a></li>
                    <li><a href="">Update</a></li>
                    <li><a href="">License Activation</a></li>
                </ul>
            </li>
        </ul>

        @*   <!-- Right: User Profile -->
                <div class="navbar-user d-flex align-items-right">
                    <i class="bi bi-person-circle me-2"></i>
                    <span>yamy1 ▾</span>
                </div> *@
    </div>
</div>
